{% include "parts/badges.md.j2" %}

**Share one or more Seafile libraries as a volume to other containers.**

{% include "parts/supported_tags.md.j2" %}

{% include "parts/features.md.j2" %}

{% include "parts/usage.md.j2" %}

{% include "parts/troubleshooting.md.j2" %}
